@inject SignInManager<ApplicationUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - HannahsHunt</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.17/b-1.5.2/b-html5-1.5.2/fh-3.1.4/r-2.2.2/datatables.min.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116457185-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-116457185-1');
    </script>

</head>
<body>
    <header class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="http://www.discoverhannahs.org/" target="_blank">
                <img src="~/images/logo-white.png" id="logo" class="mr-2" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item d-inline-block"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="nav-item d-inline-block"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li class="nav-item d-inline-block"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Administrator"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="AdminDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Admin
                            </a>
                            <div class="dropdown-menu bg-secondary p-2" aria-labelledby="AdminDropdown">
                                <a class="nav-link text-white" asp-area="" asp-controller="Users" asp-action="Index">Manage Users</a>
                                <div class="dropdown-divider"></div>
                                <a class="nav-link text-white" asp-area="" asp-controller="Hunts" asp-action="Manage">Manage Hunts</a>
                            </div>
                        </li>
                        <li class="nav-item d-inline-block"></li>
                    }
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </nav>
    </header>
    <div id="Jumbotron" class="jumbotron jumbotron-fluid p-0 mb-md-4">
        @RenderSection("jumbotron", required: false)
    </div>
    <div id="MainContent" class="container">
        @RenderBody()
    </div>
    <div class="bg-secondary">
        <div class="container">
            <nav id="SocialBar" class="mt-5 mr-0 ml-0 row align-items-center pt-2 pb-2">
                <div class="col-md-8 col-lg-9 text-left m-0 pl-0">
                    <div class="text-white mb-0">Get Connected with us on Social Networks</div>
                </div>
                <div class="col-md-4 col-lg-3 text-md-right m-0 pr-0 pl-0 mt-2 mt-md-0">
                    <a href="https://facebook.com/discoverhannahs" target="_blank"><i class="fab fa-facebook text-white mr-sm-4"> </i></a>
                    <a href="https://twitter.com/discoverhannahs" target="_blank"><i class="fab fa-twitter text-white mr-sm-4"> </i></a>
                    <a href="https://www.youtube.com/channel/UCWFTz74y4r7mnqOEDfSarJA" target="_blank"><i class="fab fa-youtube text-white mr-sm-4"> </i></a>
                    <a><i class="fab fa-instagram text-white mr-sm-4"> </i></a>
                </div>
            </nav>
        </div>
    </div>
    <footer class="bg-dark text-light p-3">
        <div class="row border-bottom ml-1 mr-1 mb-2 small">
            <div class="col-md-2 mb-3 mb-md-0 text-center"><img src="~/images/logo-white-square.png" id="logo" class="mr-2 img-fluid" /></div>
            <div class="col-md-3 mb-2 mb-md-0 text-center text-md-left">
                <h5>Contact us</h5>
                <address>
                    <strong>Ivybridge</strong><br />
                    Woodland Road, Ivybridge,<br />
                    Devon PL21 9HQ<br />
                    <span class="text-info">Telephone</span> : <a herf="tel:01752 892 461">01752 892 461</a><br />
                    <br />
                    <strong>Seale-Hayne</strong><br />
                    Howton lane, Newton Abbot,<br />
                    Devon TQ12 6NQ<br />
                    <span class="text-info">Telephone</span> : <a herf="tel:01626 325 800">01626 325 800</a>
                </address>
            </div>
            <div class="col-md-3 mb-2 mb-md-0 text-center text-md-left">
                <h5>About us</h5>
                <p>Hannahs has been enriching the lives of children and young people for more than 200 years.</p>
                <a href="http://www.discoverhannahs.org/our-charity" target="_blank" class="btn btn-primary btn-sm">Read more</a>
            </div>
            <div class="col-md-4 mb-2 mb-md-0 text-center text-md-left">
                <h5>Join the conversation</h5>
                <ul class="list-unstyled">
                    <li><a href="https://facebook.com/discoverhannahs" target="_blank"><i class="fab fa-facebook text-white mr-sm-1"></i> Facebook</a></li>
                    <li><a href="https://twitter.com/discoverhannahs" target="_blank"><i class="fab fa-twitter text-white mr-sm-1"></i> Twitter</a></li>
                    <li><a href="https://www.youtube.com/channel/UCWFTz74y4r7mnqOEDfSarJA" target="_blank"><i class="fab fa-youtube text-white mr-sm-1"></i> YouTube</a></li>
                </ul>
                <p><strong>Mailing list sign-up</strong></p>
                <a href="http://www.discoverhannahs.org/support-us/sign-up" target="_blank" class="btn btn-primary btn-sm">Click here</a>
            </div>
        </div>
        <div class="ml-2 mr-2 small text-center">
            <ul class="list-inline list-unstyled row mb-2">
                <li class="list-inline-item col-md-3 m-0"><a href="http://www.discoverhannahs.org/our-charity/contact-us">Contact us</a></li>
                <li class="list-inline-item col-md-3 m-0"><a href="http://www.discoverhannahs.org/policies/terms-and-conditions">Terms and conditions</a></li>
                <li class="list-inline-item col-md-3 m-0"><a href="http://www.discoverhannahs.org/policies/privacy">Privacy</a></li>
                <li class="list-inline-item col-md-3 m-0"><a href="http://www.discoverhannahs.org/policies/cookies">Cookies</a></li>
            </ul>
        </div>
        <div class="row pt-3 border-top mr-1 ml-1">
            <div class="col-md-12 small"><span class="fas fa-copyright"></span> 2015-2018. Dame Hannah Rogers Charity. Dame Hannah Roger’s School, registered charity no. 306948. Dame Hannah Rogers Trust, a limited company registered in England and Wales with number 5512987, and registered as a charity with number 1148882, and whose registered office address is at Woodland Road, Ivybridge, Devon PL21 9HQ is the sole trustee of Dame Hannah Roger’s School.</div>
        </div>
    </footer>
    <environment include="Development">
        <script src="~/js/jQuery/jquery.slim.js" asp-append-version="true"></script>
        <script src="~/js/bootstrap/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/js/bootstrap/jQuery.bcSwipe.min.js" asp-append-version="true"></script>
        <script src="~/js/moment/moment.js" asp-append-version="true"></script>
        <script src="~/js/font-awesome/fontawesome-all.js" asp-append-version="true"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.17/b-1.5.2/b-html5-1.5.2/fh-3.1.4/r-2.2.2/datatables.min.js"></script>

        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/jQuery/jquery.slim.min.js" asp-append-version="true"></script>
        <script src="~/js/bootstrap/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/js/bootstrap/jQuery.bcSwipe.min.js" asp-append-version="true"></script>
        <script src="~/js/moment/moment.js" asp-append-version="true"></script>
        <script src="~/js/font-awesome/fontawesome-all.js" asp-append-version="true"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.17/b-1.5.2/b-html5-1.5.2/fh-3.1.4/r-2.2.2/datatables.min.js"></script>

        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
