@using HannahsHunt.Views.Manage
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav nav-pills flex-column">
    <li class="@ManageNavPages.IndexNavClass(ViewContext) nav-item mb-3"><a asp-action="Index" class="nav-link btn btn-outline-primary btn-block">Profile</a></li>
    <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext) nav-item mb-3"><a asp-action="ChangePassword" class="nav-link btn btn-outline-warning btn-block">Password</a></li>
    @if (hasExternalLogins)
    {
        <li class="@ManageNavPages.ExternalLoginsNavClass(ViewContext) nav-item mb-3"><a asp-action="ExternalLogins" class="nav-link btn btn-outline-secondary btn-block">External logins</a></li>
    }
    @*<li class="@ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext) nav-item"><a asp-action="TwoFactorAuthentication" class="nav-link">Two-factor authentication</a></li>*@
</ul>

