//Bootstrap Options
$enable-shadows: true;
$enable-gradients: true;

//Theme Colors
$theme-colors: ( "primary": #588f76, "info": #008ab1, "secondary" : #f58025, "dark": #001e45, "danger": #e82c2a, "gray": #333333, "happy": #ff5500, "facebook": #3e5b98, "google": #4285f4);
$border-radius: 0em;
$btn-box-shadow: 0;
$btn-border-radius-lg: 0;
$btn-border-radius-sm: 0;

//Imports
@import "bootstrap/scss/bootstrap.scss";
@import "pineapple-sass/_pineapple-sass.scss";

//Bootstrap Varible Overides
$navbar-dark-color: rgba($white, .75);
$navbar-dark-hover-color: rgba($white, .85);


//utilities
@mixin Opacity($value) {
    $IEValue: $value*100;
    opacity: $value;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
    filter: alpha(opacity=$IEValue);
}

@mixin push--auto {
    margin: {
        left: auto;
        right: auto;
    }
}

.o-100 {
    @include Opacity(1);
}
.o-75 {
    @include Opacity(0.75);
}
.o-50 {
    @include Opacity(0.50);
}
.o-25 {
    @include Opacity(0.25);
}
.o-0 {
    @include Opacity(0.00);
}


//Structure
body {
    color: $gray-800;
    font-family: sans-serif;
}

#Jumbotron {
    margin-top: 4.9rem;
}

#MainContent {
    margin-top: 6rem;
}

#carousel .carousel-item {
    font-size: 0.9rem;
}

img#logo {
    width: 10rem;
}

//Navbar
.navbar-dark {
    //@include box-shadow(0px,1px,4px,$gray-800);
}

.navbar-dark .navbar-nav .nav-link {
    color: $navbar-dark-color;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: $navbar-dark-hover-color;
}

//Responsive Tables

.responsive-table td {
    border: none;
    border-bottom: 1px solid $gray-200;
    white-space: normal;
    text-align: left;
    min-height: 2.4rem;
    line-height: $line-height-base
}

// Forms
form {
    color: $gray-700;
}

.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 20%;
    left: 15%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

// Login Page
.login {
    margin: 0 auto;
}
.login h5 {
    text-align: center;
    line-height: 300%;
}

.login-or {
    position: relative;
    font-size: 18px;
    color: #aaa;
    top: 12px;
}

.span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -12px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
}

.hr-or {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

@media only screen and (max-width: 800px) {

    /* Force table to not be like tables anymore */
    .responsive-table table,
    .responsive-table thead,
    .responsive-table tbody,
    .responsive-table th,
    .responsive-table td,
    .responsive-table tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .responsive-table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .responsive-table tr {
        border: 1px solid #ccc;
    }

    .responsive-table td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid $gray-200;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align: left;
        min-height: 2.4rem;
        line-height: $line-height-base
    }

    .responsive-table td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 0.6rem;
        left: 0.6rem;
        width: 45%;
        padding-right: 0.1rem;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }

    /*
	Label the data
	*/
    .responsive-table td:before {
        content: attr(data-title);
    }
}

