@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<div class="row">
    <div class="login col-md-6">
        <h3>@ViewData["Title"]</h3>
        <h4 class="mb-3"> Enter your email</h4>
        <form asp-action="ForgotPassword" method="post">
            <div asp-validation-summary="All" class="alert alert-danger" role="alert">                
                <span class="fas fa-exclamation-circle"></span>
            </div>
            <div class="form-group">
                <input asp-for="Email" class="form-control" placeholder="Email Address" type="email" />
                @*<span asp-validation-for="Email" class="text-danger"></span>*@
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
